.attendance-detail__container {
	width: 60%;
	margin: 70px auto;
}

.attendance-detail__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 32px;
	border-left: 4px solid #000;
	padding-left: 10px;
}

.attendance-detail__table {
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.attendance-detail__row {
	border-bottom: 1px solid #ddd;
	height: 60px;
}

.attendance-detail__row--note{
	height: 60px;
}

.attendance-detail__header {
	width: 30%;
	text-align: left;
	font-weight: bold;
	padding-left: 35px;
	font-size: 15px;
	color: #706d6d;
}

.attendance-detail__data {
	padding-left: 16px;
	font-size: 15px;
	font-weight: bold;
	height: 70px;
}

.attendance-detail__separator {
	margin: 0 25px;
}

.attendance-detail__button-wrapper {
	text-align: right;
	margin-top: 30px;
}

.attendance-detail__button {
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 10px 30px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.attendance-detail__button:hover {
	background-color: #646363;
}

.attendance-detail__input {
	width: 70px;
}

.attendance-detail__input--note {
	height: 40px;
	width: 250px;
}

.attendance-detail__button--disabled{
	background-color: #5f5e5e;
	display: inline-block;
	color: #fff;
	padding: 10px 30px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.flash-message {
	color: rgb(241, 110, 110);
	font-size: large;
}