.attendance-request__container {
	width: 70%;
	margin: 70px auto;
}

.attendance-request__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	border-left: 5px solid #000;
	padding-left: 12px;
}

.attendance-request__tabs {
	display: flex;
	border-bottom: 1px solid #333;
	margin-bottom: 50px;
}

.attendance-request__tab-link {
	padding: 10px 20px;
	color: #333;
    text-decoration: none;
}

.attendance-request__tab-link--active {
	font-weight: bold;
}

.attendance-request__table {
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.attendance-request__header {
	text-align: left;
	padding: 12px;
	font-weight: bold;
	border-bottom: 2px solid #ccc;
	color: #706d6d;
}

.attendance-request__cell {
	padding: 12px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	color: #706d6d;
}
