.attendance-list {
	width: 100%;
	padding: 40px 0;
}

.attendance-list__container {
	width: 70%;
	margin: 0 auto;
	padding: 40px;
}

.attendance-list__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 32px;
	border-left: 5px solid #000;
	padding-left: 12px;
}

.attendance-list__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	background-color: white;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 50px;
}

.attendance-list__month-button {
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	color: #706d6d;
}

.attendance-list__current-month {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

.attendance-list__calendar-icon {
	margin-right: 8px;
}

.attendance-list__table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	font-size: 15px;
	border-radius: 10px;
	background-color: white;
}

.attendance-list__header-cell {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	color: #706d6d;
}

.attendance-list__cell {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	color: #706d6d;
	font-weight: bold;
}

.attendance-list__detail-link {
	color: #333;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
